<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit person.</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/authors/{id}(id=${author.getId()})}" th:object="${author}">
    <label for="fullName">Name, surname, patronymic:</label>
    <input type="text" th:field="*{fullName}" id="fullName"/>

    <br/>

    <label for="year">Year of birth:</label>
    <input type="number" th:field="*{yearOfBirth}" id="year"/>

    <br/>

    <input type="submit" value="Edit."/>
</form>

</body>
</html>